format=3
openwrt_release=@OPENWRT_RELEASE@
openwrt_revision=@OPENWRT_REVISION@
compatible_arch=@COMPATIBLE_ARCH@
build_target=@BUILD_TARGET@
build_subtarget=@BUILD_SUBTARGET@
sdk_sha256=@SDK_SHA256@
packages_feed_commit=@PACKAGES_FEED_COMMIT@
ffmpeg_version=6.1.4
package_format=@PACKAGE_FORMAT@
validation_mode=@VALIDATION_MODE@
build_patented=y
network_enabled=n
avdevice_enabled=n
swresample_enabled=y
audio_output=pcm_s16le
audio_sample_rate=48000
audio_channels=2
audio_chunk_frames=12000
audio_chunk_bytes=48000
private_binary=/usr/libexec/videoplayer-ffmpeg/ffmpeg
